name: komga
services:
  app:
    image: gotson/komga
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: ''
        - container: PGID
          description:
            en_us: ''
    ports:
      - target: 25600
        published: 25600
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/config
        target: /config
      - type: bind
        source: /DATA/AppData/$AppID/data
        target: /data
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: Koomga Manga, Comic and E-Book Server
  tagline:
    en_us: Koomga Manga, Comic And E-book Server
  developer: ''
  author: WisdomSky
  icon: https://raw.githubusercontent.com/gotson/komga/master/.github/readme-images/app-icon.png
  thumbnail: https://raw.githubusercontent.com/gotson/komga/master/.github/readme-images/app-icon.png
  title:
    en_us: Komga
  category: Coolstore
  port_map: '25600 '
