name: traefik
services:
  app:
    image: traefik:v3.0
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      TRAEFIK_API: false
      TRAEFIK_API_DASHBOARD: true
      TRAEFIK_API_INSECURE: false
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
      - target: 8080
        published: 8080
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/traefik.toml
        target: /etc/traefik/traefik.toml
      - type: bind
        source: /DATA/AppData/$AppID/traefik.yml
        target: /etc/traefik/traefik.yml
      - type: bind
        source: /DATA/AppData/$AppID/config.yml
        target: /etc/traefik/config.yml
      - type: bind
        source: /DATA/AppData/$AppID/acme.json
        target: /etc/traefik/acme.json
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: Cloud-Native Networking Stack That Just Works.
  tagline:
    en_us: Cloud-native Networking Stack That Just Works.
  developer: ''
  author: WisdomSky
  icon: https://raw.githubusercontent.com/pi-hosted/pi-hosted/master/images/traefik.png
  thumbnail: https://raw.githubusercontent.com/pi-hosted/pi-hosted/master/images/traefik.png
  title:
    en_us: Traefik
  category: Coolstore
  port_map: '8080'
