name: cloudflared-web
services:
  cloudflared:
    image: wisdomsky/cloudflared-web:2025.2.1
    restart: unless-stopped
    network_mode: host
    x-casaos:
      volumes:
        - container: /config
          description:
            en_us: Contains config file where cloudflare token is stored.
            zh_cn: 包含配置文件，其中存储了 Cloudflare 令牌。
            ar_sa: يحتوي على ملف تكوين حيث يتم تخزين رمز Cloudflare.
            de_de: Enthält eine Konfigurationsdatei, in der das Cloudflare-Token gespeichert ist.
            es_es: Contiene un archivo de configuración donde se almacena el token de Cloudflare.
            fr_fr: Contient un fichier de configuration où est stocké le jeton Cloudflare.
            hu_hu: Tartalmazza a konfigurációs fájlt, ahol a Cloudflare token van tárolva.
            it_it: Contiene un file di configurazione in cui è memorizzato il token di Cloudflare.
            ru_ru: Содержит файл конфигурации, в котором хранится токен Cloudflare.
            pl_pl: Zawiera plik konfiguracyjny, w którym przechowywany jest token Cloudflare.
            pt_br: Contém um arquivo de configuração onde o token do Cloudflare é armazenado.
      ports:
        - container: '14333'
          description:
            en_us: Token Setup WebUI
            zh_cn: 令牌设置 WebUI
            ar_sa: واجهة مستخدم إعداد الرمز
            de_de: Token-Setup WebUI
            es_es: Configuración de Token WebUI
            fr_fr: Interface utilisateur de configuration du jeton
            hu_hu: Token beállítás WebUI
            it_it: Interfaccia utente di configurazione del token
            ru_ru: Веб-интерфейс настройки токена
            pl_pl: Interfejs użytkownika konfiguracji tokena
            pt_br: Configuração do Token WebUI
    ports:
      - target: 14333
        published: '14333'
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/cloudflared-web/config
        target: /config
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: cloudflared
  description:
    en_us: Cloudflared-web packages both Cloudflare tunnel and a simple web-based user interface for easy starting and stopping of cloudflare tunnel.
  tagline:
    en_us: Cloudflare tunnel with a simple web-based user interface.
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/WisdomSky/CasaOS-Coolstore@main/Apps/cloudflared-web/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/WisdomSky/CasaOS-Coolstore@main/Apps/cloudflared-web/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/WisdomSky/CasaOS-Coolstore@main/Apps/cloudflared-web/screenshot-3.png
  developer: Cloudflare Inc.
  author: WisdomSky
  icon: https://cdn.jsdelivr.net/gh/WisdomSky/CasaOS-Coolstore@main/Apps/cloudflared-web/icon.png
  thumbnail: https://cdn.jsdelivr.net/gh/WisdomSky/CasaOS-Coolstore@main/Apps/cloudflared-web/icon.png
  category: Coolstore
  title:
    en_us: Cloudflared-web
  port_map: '14333'
