name: wg-easy
services:
  app:
    image: ghcr.io/wg-easy/wg-easy
    environment:
      WG_HOST: 0.0.0.0
      PASSWORD: casaos
      WG_PORT: 51820
      WG_DEFAULT_DNS: 1.1.1.1
      WG_PERSISTENT_KEEPALIVE: 0
      WG_MTU: null
    x-casaos:
      envs:
        - container: WG_HOST
          description:
            en_us: Set here your DDNS domain
        - container: PASSWORD
          description:
            en_us: Leave blank to access WebUI without loggin
        - container: WG_PORT
          description:
            en_us: ''
        - container: WG_DEFAULT_DNS
          description:
            en_us: ''
        - container: WG_ALLOWED_IPS
          description:
            en_us: ''
    ports:
      - target: 51820
        published: 51820
        protocol: udp
      - target: 51821
        published: 51821
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/wireguard
        target: /etc/wireguard
    cap_add:
      - SYS_MODULE
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: Fast VPN Server with easy to use User Interface
  tagline:
    en_us: Fast Vpn Server With Easy To Use User Interface
  developer: ''
  author: WisdomSky
  icon: https://raw.githubusercontent.com/pi-hosted/pi-hosted/master/images/wireguard.png
  thumbnail: https://raw.githubusercontent.com/pi-hosted/pi-hosted/master/images/wireguard.png
  tips:
    before_install:
      en_us: Default password is `casaos`.
  title:
    en_us: Wireguard Server
  category: Coolstore
  port_map: '51821'
