name: minecraft
services:
  app:
    image: itzg/minecraft-server
    environment:
      EULA: true
    x-casaos:
      envs:
        - container: EULA
          description:
            en_us: ''
    ports:
      - target: 25565
        published: 25565
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/$AppID/data
        target: /data
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: This docker image provides a Minecraft Server that will automatically download the latest stable version at startup. You can also run/upgrade to any specific version or the latest snapshot. See the Versions section below for more information.
  tagline:
    en_us: This Docker Image Provides A Minecraft Server That Will Automatically Download The Latest Stable Version At Startup. You Can Also Run/upgrade To Any Specific Version Or The Latest Snapshot. See The Versions Section Below For More Information.
  developer: ''
  author: WisdomSky
  icon: https://raw.githubusercontent.com/pi-hosted/pi-hosted/master/images/minecraft.png
  thumbnail: https://raw.githubusercontent.com/pi-hosted/pi-hosted/master/images/minecraft.png
  title:
    en_us: Minecraft Server
  category: Coolstore
